conftest.*
*.log
*.rbc
*.o
ext/sedna/*.so
ext/sedna/*.bundle
ext/sedna/Makefile
pkg/
doc/
vendor/sedna/driver/c/*.d
vendor/sedna/driver/c/libsedna.a
vendor/sedna/kernel/common/errdbg/ErrorCodes.java
vendor/sedna/kernel/common/errdbg/error_codes.c
vendor/sedna/kernel/common/errdbg/error_codes.h
vendor/sedna/kernel/common/errdbg/error_codes_scm.scm
vendor/sedna/kernel/common/errdbg/gen_error_codes
vendor/sedna/kernel/common/errdbg/generated
